*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: $f-primary;
  // height: 500vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba($color: $secondary, $alpha: .5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: $primary, $alpha: .7);
  transition: $transition1;
  :hover{
    background-color: $primary;
    transform: scale(1.1);
  }
}

.scroll-lock{
  overflow: hidden;
}

a{
  text-decoration: none;
}

h3{
  font-size: 1.7rem;
  line-height: 1.5;
  color: $primary;
}

ul > a > li {
  list-style-type: none;
}

.feature {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content {
  position: absolute;
  top: 7rem;
  left: 22rem;
  right: 2rem;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
}
.content-container{
  padding: 3rem 7rem;
  background: linear-gradient(313deg, rgba(255,221,0,0.700717787114846) 0%, rgba(51,126,211,0.9051995798319328) 100%);
  
  .content-title {
    font-size: 2rem;
    color: $primary;
    text-shadow: 3px 3px 10px $white;
    margin-bottom: 2rem;
    border-bottom: 5px solid $secondary;
    width: 30%;
    text-align: center;
    margin: 0 auto 2rem;
  }
}


.section-name {
  font-size: 2rem;
  border-bottom: 5px solid $secondary;
  padding: 0 1rem;
  font-weight: 700;
  color: $dark-gray;
}

.message {
  position: fixed;
  z-index: 10;
  right: 3rem;
  top: 6rem;
  background-color: #fff;
  padding: 2rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  transform: translate(120%);
  opacity: 0;
  transition: all 250ms ease-in-out;
  text-align: center;
  min-width: 25vw;
}

.message-active{
  opacity: 1;
  transform: translate(0);
}

.button1{
  padding: .5rem 2.5rem;
  background-color: #337ED3;
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px solid #337ED3;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: #337ED3;
  }
}

.button2{
  padding: .5rem 2.5rem;
  background-color: $white;
  color: $primary;
  border: none;
  border-radius: 5px;
  border: 1px solid $primary;
  transition: all 250ms ease-in-out;
  font-weight: bold;
  cursor: pointer;

  &:hover{
    background-color: $primary;
    color: $white;
  }
}

.button3{
  padding: .5rem 2.5rem;
  // background: $white;
  background-color: #fff29a;
  color: $dark-gray;
  border: none;
  border-radius: 5px;
  border: 1px solid $secondary;
  transition: all 250ms ease-in-out;
  font-weight: bold;
  cursor: pointer;

  &:hover{
    background-color: $secondary;
    // color: $white;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  .label-name{
    font-size: .8rem;
    line-height: 2;
    font-weight: bold;
  }

  .input {
    padding: .3rem;
    font-size: .9rem;
    border: 2px solid $light-gray;
  }
}

.not-home {
  height: 72;

  .hero-image-container{
    top: 4rem;
  }

  .psu {
    font-size: 2rem;
  }

  .welcome {
    font-size: 1.5rem;
  }
}

.infor{
  display: flex;
  margin-bottom: 1.3rem;
  .key{
    width: 35%;
    font-size: 1rem;
    font-weight: 300;
  }

  .value {
    width: 65%;
  }
}