.navbar{
  background-color: $primary;
  color: $white;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: .5);
  z-index: 4;
  .logo-section {
    display: flex;
    align-items: center;

    .project-name {
      margin-left: 1rem;
      font-size: 1.5rem;
      color: $secondary;
    font-family: $f-secondary;
    }
  }
  .logo{
    height: 3rem;
    width: 3rem;
    position: relative;

    img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}