.user-sidebar{
  height: 100vh;
  width: 30vw;
  position: fixed;
  background-color: rgba($color: $secondary, $alpha: .5);
  display: flex;
  flex-direction: column;
  padding: 9rem 1rem 5rem;
  align-items: center;
  // justify-content: space-around;
  .user-img-container{
    height: 17rem;
    width: 17rem;
    position: relative;
    margin-bottom: 2rem;
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
    }
  }

  .user-fullname{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: $dark-gray;
  }

  a {
    align-self: stretch;
    padding: 0 4rem;
  }
  .user-sidebar-btn{
    align-self: stretch;
    width: 100%;
    margin-bottom: .5rem;
  }

}

.manage-account-container {
  border-radius: 10px;
  position: fixed;
  height: 80vh;
  width: 50vw;
  background-color: #fff;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: .5);
  display: flex;
  padding: .5rem;
  justify-content: space-between;

  .edit-image, .edit-acct{
    width: 50%;
    padding: 2rem .5rem;
    height: 100%;
    text-align: center;
    border: 1px solid $primary;

    .section-title {
      font-size: 1rem;
      border-bottom: 2px solid $secondary;
      align-self: center;
      padding: 0 1rem;
    }
  }

  .edit-image {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .user-profile {
      position: relative;
      height: 10rem;
      width: 10rem;
      // border: 1px solid red;
      border-radius: 50%;
      overflow: hidden;
      margin: 2rem auto;
      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
      }
    } 

    .upload-form {
      align-self: flex-end;
      // border: 1px solid red;

      label {
        margin-bottom: 1rem;
      }

      .upload-img {
        margin-top: 8rem;
      }
    }
  }

  .edit-acct {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .changePass-form-container {
      // border: 1px solid red;
      margin-top: 2rem;
      width: 100%;

      .form-groups {
        margin-bottom: 1.5rem;

        .label-name {
          text-align: left; 
        }
      }
    }
  }
}

.user-info-container{
  position: absolute;
  top: 5rem;
  left: 30vw;
  right: 0;
  background-color: rgba($color: $primary, $alpha: .7);

  .user-info{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid $secondary;
  }
  .info-title{
    // padding: 2rem;
    color: $white;
    font-size: 2rem;
    font-family: $f-secondary;
    text-align: center;
  }

  .user-info-content{
    font-size: 1.2rem;
    margin: 2rem 0 2rem 4rem;
    color: $white;

    .infor{
      margin-bottom: 2rem;
      border-bottom: 1px solid $white;
    }
  }

  a{
    align-self: flex-end;
    margin-right: 4rem;
  }
}