$primary: #337ED3;
$secondary: #FFDD00;
$success: #96FE8A;
$danger: #F96F6F;
$white: #FFFFFF;
$light-gray: #CECECE;
$mid-gray: #919191;
$dark-gray: #3d3d3d;

$f-primary: 'Josefin Sans', sans-serif;
$f-secondary: 'Charis SIL', serif;

$transition1: all 250ms ease-in-out;