.manage-table{
  width: 100%;
  .table-name {
    color: $white;
    line-height: 1;
    font-size: 1.4rem;
    margin: 0;
  }
  .table-head{
    margin-top: 2rem;
    padding: .9rem 1.2rem .5rem;
    background-color: $primary;
    color: $white;
    display: flex;
    align-items: center;
  }

  .table-content {
    background-color: $white;
    .table-data{
      display: flex;
      border: 2px solid $light-gray;
      border-top: none;
      border-right: none;

    }
    .head {
      padding: .5rem
    }
    
    .column {
      text-align: center;
      padding:.5rem;
      padding-top: .7rem;
      font-size: 1.2rem;
      border-right: 2px solid $light-gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  
  .action {
    width: 20%;
    padding: 5rem;
    gap: 1rem;
    .alumni-action {
      width: 80%;
    }
  }
}

.button-primary {
  padding: .8rem 1rem .5rem;
  border: 2px solid $primary;
  color: $dark-gray;
  transition: $transition1;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.button-danger {
  padding: .8rem 1rem .5rem;
  border: 2px solid $danger;
  color: $dark-gray;
  transition: $transition1;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  &:hover {
    background-color: $danger;
    color: $white;
  }
}

.button-success {
  padding: .8rem 1rem .5rem;
  border: 2px solid $success;
  color: $dark-gray;
  transition: $transition1;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  &:hover {
    background-color: $success;
    color: $dark-gray;
  }
}

.button-secondary {
  padding: .8rem 1rem .5rem;
  border: 2px solid $dark-gray;
  color: $dark-gray;
  transition: $transition1;
  background-color: $light-gray;
  border-radius: 5px;
  font-size: 1rem;
  &:hover {
    background-color: $dark-gray;
    color: $white;
  }
}

.add-btn {
  padding: .5rem 3rem .3rem;
  border: 2px solid $secondary;
  font-size: .8rem;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: $transition1;
  i {
    transition: $transition1;
    margin-right: 5px;
  }
  &:hover {
    background-color: $secondary;
    color: $primary;

    i {
      transform: translate(-300%);
    }
  }
}