*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #f0f0f0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 221, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(51, 126, 211, 0.7);
  transition: all 250ms ease-in-out;
}

::-webkit-scrollbar-thumb :hover {
  background-color: #337ED3;
  transform: scale(1.1);
}

.scroll-lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #337ED3;
}

ul > a > li {
  list-style-type: none;
}

.feature {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content {
  position: absolute;
  top: 7rem;
  left: 22rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  padding: 3rem 7rem;
  background: linear-gradient(313deg, rgba(255, 221, 0, 0.700718) 0%, rgba(51, 126, 211, 0.9052) 100%);
}

.content-container .content-title {
  font-size: 2rem;
  color: #337ED3;
  text-shadow: 3px 3px 10px #FFFFFF;
  margin-bottom: 2rem;
  border-bottom: 5px solid #FFDD00;
  width: 30%;
  text-align: center;
  margin: 0 auto 2rem;
}

.section-name {
  font-size: 2rem;
  border-bottom: 5px solid #FFDD00;
  padding: 0 1rem;
  font-weight: 700;
  color: #3d3d3d;
}

.message {
  position: fixed;
  z-index: 100;
  right: 3rem;
  top: 6rem;
  background-color: #fff;
  padding: 2rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: translate(120%);
  opacity: 0;
  transition: all 250ms ease-in-out;
  text-align: center;
  min-width: 25vw;
}

.message-active {
  opacity: 1;
  transform: translate(0);
}

.button1 {
  padding: .5rem 2.5rem;
  background-color: #337ED3;
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px solid #337ED3;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.button1:hover {
  background-color: white;
  color: #337ED3;
}

.button2 {
  padding: .5rem 2.5rem;
  background-color: #FFFFFF;
  color: #337ED3;
  border: none;
  border-radius: 5px;
  border: 1px solid #337ED3;
  transition: all 250ms ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

.button2:hover {
  background-color: #337ED3;
  color: #FFFFFF;
}

.button3 {
  padding: .5rem 2.5rem;
  background-color: #fff29a;
  color: #3d3d3d;
  border: none;
  border-radius: 5px;
  border: 1px solid #FFDD00;
  transition: all 250ms ease-in-out;
  font-weight: bold;
  cursor: pointer;
}

.button3:hover {
  background-color: #FFDD00;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group .label-name {
  font-size: .8rem;
  line-height: 2;
  font-weight: bold;
}

.form-group .input {
  padding: .3rem;
  font-size: .9rem;
  border: 2px solid #CECECE;
}

.not-home {
  height: 72;
}

.not-home .hero-image-container {
  top: 4rem;
}

.not-home .psu {
  font-size: 2rem;
}

.not-home .welcome {
  font-size: 1.5rem;
}

.infor {
  display: flex;
  margin-bottom: 1.3rem;
}

.infor .key {
  width: 35%;
  font-size: 1rem;
  font-weight: 300;
}

.infor .value {
  width: 65%;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.required {
  color: #F96F6F;
  font-size: 1rem;
}

.navbar {
  background-color: #337ED3;
  color: #FFFFFF;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.navbar .logo-section {
  display: flex;
  align-items: center;
}

.navbar .logo-section .project-name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: "Charis SIL", serif;
}

.navbar .logo {
  height: 3rem;
  width: 3rem;
  position: relative;
}

.navbar .logo img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar .menu-links {
  display: flex;
  gap: 1rem;
}

.navbar .menu-links .menu-link li {
  list-style-type: none;
  font-size: 1.1rem;
  border-bottom: 3px solid #FFDD00;
  color: #FFFFFF;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  border-top: 10px solid rgba(0, 0, 0, 0);
  padding: 2px;
  align-self: flex-end;
  transition: all 250ms ease-in-out;
}

.navbar .menu-links .menu-link:hover li {
  border-bottom: 5px solid #FFDD00;
}

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
  margin-bottom: 2rem;
}

.main-page .hero-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2rem;
  left: 0rem;
  overflow: hidden;
}

.main-page .hero-image-container img {
  width: 120%;
  height: 150%;
  margin-left: -20%;
  margin-top: -20%;
  opacity: .5;
}

.main-page .main-page-content {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-page .main-page-content .psu {
  font-size: 4rem;
  color: #337ED3;
  text-shadow: 5px 5px 10px #FFDD00;
  margin-bottom: 1rem;
  font-family: "Old English Text MT", serif;
  letter-spacing: 1px;
}

.main-page .main-page-content .welcome {
  font-size: 1.5rem;
  color: #337ED3;
  text-shadow: 3px 3px 10px #FFFFFF;
}

.not-home {
  height: 72vh;
}

.not-home .hero-image-container {
  top: 4rem;
}

.not-home .main-page-content .psu {
  font-size: 3rem;
  margin-bottom: 0;
}

.not-home .main-page-content .welcome {
  font-size: 1rem;
}

.footer {
  background-color: #337ED3;
  padding: 3rem;
  text-align: center;
}

.footer .logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .logo-section .project-name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: "Charis SIL", serif;
}

.footer .logo {
  height: 5rem;
  width: 5rem;
  position: relative;
  border-radius: 50%;
}

.footer .logo img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer p {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footer .contacts .contact li {
  font-size: 1.5rem;
  color: #FFFFFF;
  list-style-type: none;
  transition: all 250ms ease-in-out;
}

.footer .contacts .contact:hover li {
  color: #FFDD00;
}

.event-container {
  display: flex;
  width: 100%;
  position: relative;
  max-width: 80rem;
  margin: 3rem auto;
}

.event-container .event-photo {
  width: 45%;
  height: 25rem;
}

.event-container .event-photo img {
  width: 100%;
  height: 100%;
}

.event-container .event-detail-container {
  width: 55%;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.event-container .event-detail-container .event-detail-bg-photo {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
}

.event-container .event-detail-container .event-detail-bg-photo img {
  width: 100%;
  height: 100%;
}

.event-container .event-detail-container .white-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
}

.event-container .event-detail-container .detail-container {
  position: absolute;
  z-index: 3;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.event-container .event-detail-container .detail-container .event-title {
  color: #FFFFFF;
  text-shadow: 5px 5px 10px #337ED3, -1px -1px 0px #337ED3, 0px -1px 0px #337ED3, 1px -1px 0px #337ED3, -1px 0px 0px #337ED3, 1px 0px 0px #337ED3, -1px 1px 0px #337ED3, 0px 1px 0px #337ED3, 1px 1px 0px #337ED3;
  margin-bottom: .5rem;
}

.event-container .event-detail-container .detail-container .event-date {
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 5px 5px 10px #337ED3, -1px -1px 0px #337ED3, 0px -1px 0px #337ED3, 1px -1px 0px #337ED3, -1px 0px 0px #337ED3, 1px 0px 0px #337ED3, -1px 1px 0px #337ED3, 0px 1px 0px #337ED3, 1px 1px 0px #337ED3;
  margin-bottom: 1.5rem;
}

.event-container .event-detail-container .detail-container .event-date .calen {
  margin-right: .5rem;
  font-size: 1.3rem;
  color: #FFFFFF;
}

.event-container .event-detail-container .detail-container .event-desc {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 3rem;
  line-height: 1.6;
  padding: .5rem;
  max-height: 12rem;
  overflow: hidden;
}

.event-container .event-detail-container .detail-container .read-more {
  margin-left: auto;
}

.event-container .event-detail-container .detail-container .read-more:hover button {
  color: #337ED3;
  background-color: #FFFFFF;
}

.event-container .event-detail-container .detail-container .read-more button {
  padding: .3rem 1.5rem;
  background-color: #337ED3;
  color: #FFFFFF;
  border: 2px solid #337ED3;
  font-weight: bold;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
}

.registration-modal-container, .createAcct-modal-container, .registerSuccess-modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: -10;
  opacity: 0;
}

.registration-modal-container .registration-head, .createAcct-modal-container .registration-head, .registerSuccess-modal-container .registration-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #337ED3;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 12;
  width: 53%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -205%);
  border-radius: 20px 0 0 0;
}

.registration-modal-container .registration-head .logo-container, .createAcct-modal-container .registration-head .logo-container, .registerSuccess-modal-container .registration-head .logo-container {
  height: 6rem;
  width: 6rem;
  position: relative;
}

.registration-modal-container .registration-head .logo-container img, .createAcct-modal-container .registration-head .logo-container img, .registerSuccess-modal-container .registration-head .logo-container img {
  position: absolute;
  inset: 0;
  width: 100%;
}

.registration-modal-container .registration-head .regis-head-content, .createAcct-modal-container .registration-head .regis-head-content, .registerSuccess-modal-container .registration-head .regis-head-content {
  color: #337ED3;
}

.registration-modal-container .registration-head .regis-head-content .registration-title, .createAcct-modal-container .registration-head .regis-head-content .registration-title, .registerSuccess-modal-container .registration-head .regis-head-content .registration-title {
  font-size: 1.7rem;
  line-height: 1.5;
}

.registration-modal-container .registration-head .reg-close-btn, .registration-modal-container .registration-head .ca-close-btn, .createAcct-modal-container .registration-head .reg-close-btn, .createAcct-modal-container .registration-head .ca-close-btn, .registerSuccess-modal-container .registration-head .reg-close-btn, .registerSuccess-modal-container .registration-head .ca-close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 0.5);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.registration-modal-container .registration-head .reg-close-btn:hover, .registration-modal-container .registration-head .ca-close-btn:hover, .createAcct-modal-container .registration-head .reg-close-btn:hover, .createAcct-modal-container .registration-head .ca-close-btn:hover, .registerSuccess-modal-container .registration-head .reg-close-btn:hover, .registerSuccess-modal-container .registration-head .ca-close-btn:hover {
  font-weight: bold;
  color: #3d3d3d;
}

.registration-modal-container .register-form-container, .createAcct-modal-container .register-form-container, .registerSuccess-modal-container .register-form-container {
  height: 80vh;
  width: 55vw;
  padding: 1rem;
  background-color: #FFFFFF;
  position: fixed;
  border-radius: 30px 0 0 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.registration-modal-container .register-form-container::-webkit-scrollbar, .createAcct-modal-container .register-form-container::-webkit-scrollbar, .registerSuccess-modal-container .register-form-container::-webkit-scrollbar {
  width: 5px;
}

.registration-modal-container .register-form-container::-webkit-scrollbar-track, .createAcct-modal-container .register-form-container::-webkit-scrollbar-track, .registerSuccess-modal-container .register-form-container::-webkit-scrollbar-track {
  background: rgba(255, 221, 0, 0.5);
}

.registration-modal-container .register-form-container::-webkit-scrollbar-thumb, .createAcct-modal-container .register-form-container::-webkit-scrollbar-thumb, .registerSuccess-modal-container .register-form-container::-webkit-scrollbar-thumb {
  background-color: rgba(51, 126, 211, 0.7);
  transition: all 250ms ease-in-out;
}

.registration-modal-container .register-form-container::-webkit-scrollbar-thumb:hover, .createAcct-modal-container .register-form-container::-webkit-scrollbar-thumb:hover, .registerSuccess-modal-container .register-form-container::-webkit-scrollbar-thumb:hover {
  background-color: #337ED3;
  transform: scale(1.1);
}

.registration-modal-container .register-form-container .registration-forms .form-title, .createAcct-modal-container .register-form-container .registration-forms .form-title, .registerSuccess-modal-container .register-form-container .registration-forms .form-title {
  font-weight: bold;
  font-size: 1.3rem;
  color: #337ED3;
  margin-bottom: 1rem;
}

.registration-modal-container .register-form-container .registration-forms .bio-info, .registration-modal-container .register-form-container .registration-forms .educ-info, .registration-modal-container .register-form-container .registration-forms .employ-info, .registration-modal-container .register-form-container .registration-forms .acct-info, .createAcct-modal-container .register-form-container .registration-forms .bio-info, .createAcct-modal-container .register-form-container .registration-forms .educ-info, .createAcct-modal-container .register-form-container .registration-forms .employ-info, .createAcct-modal-container .register-form-container .registration-forms .acct-info, .registerSuccess-modal-container .register-form-container .registration-forms .bio-info, .registerSuccess-modal-container .register-form-container .registration-forms .educ-info, .registerSuccess-modal-container .register-form-container .registration-forms .employ-info, .registerSuccess-modal-container .register-form-container .registration-forms .acct-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #337ED3;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.registration-modal-container .register-form-container .registration-forms .bio-info, .registration-modal-container .register-form-container .registration-forms .acct-info, .createAcct-modal-container .register-form-container .registration-forms .bio-info, .createAcct-modal-container .register-form-container .registration-forms .acct-info, .registerSuccess-modal-container .register-form-container .registration-forms .bio-info, .registerSuccess-modal-container .register-form-container .registration-forms .acct-info {
  margin-top: 8rem;
}

.registration-modal-container .register-form-container .registration-forms .form-groups, .createAcct-modal-container .register-form-container .registration-forms .form-groups, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .form-group, .createAcct-modal-container .register-form-container .registration-forms .form-groups .form-group, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .form-group {
  display: flex;
  flex-direction: column;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .form-group .label-name, .createAcct-modal-container .register-form-container .registration-forms .form-groups .form-group .label-name, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .form-group .label-name {
  font-size: .8rem;
  line-height: 2;
  font-weight: bold;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .form-group .input, .createAcct-modal-container .register-form-container .registration-forms .form-groups .form-group .input, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .form-group .input {
  padding: .3rem;
  font-size: .9rem;
  border: 2px solid #CECECE;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .name, .createAcct-modal-container .register-form-container .registration-forms .form-groups .name, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .name {
  width: 30%;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .contact, .createAcct-modal-container .register-form-container .registration-forms .form-groups .contact, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .contact {
  width: 48%;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .personal .b-day, .createAcct-modal-container .register-form-container .registration-forms .form-groups .personal .b-day, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .personal .b-day {
  padding: .3rem;
  margin-top: 1px;
  border: 2px solid #CECECE;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .personal .personal-select, .createAcct-modal-container .register-form-container .registration-forms .form-groups .personal .personal-select, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .personal .personal-select {
  padding: .3rem;
  font-size: .9rem;
  border: 2px solid #CECECE;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .personal .personal-select option, .createAcct-modal-container .register-form-container .registration-forms .form-groups .personal .personal-select option, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .personal .personal-select option {
  padding: .3rem;
  border-bottom: 1px solid #CECECE;
}

.registration-modal-container .register-form-container .registration-forms .form-groups .addr2, .createAcct-modal-container .register-form-container .registration-forms .form-groups .addr2, .registerSuccess-modal-container .register-form-container .registration-forms .form-groups .addr2 {
  width: 30%;
}

.registration-modal-container .register-form-container .registration-forms .person, .createAcct-modal-container .register-form-container .registration-forms .person, .registerSuccess-modal-container .register-form-container .registration-forms .person {
  justify-content: flex-start;
  gap: 3rem;
}

.registration-modal-container .register-form-container .registration-forms .register-next, .createAcct-modal-container .register-form-container .registration-forms .register-next, .registerSuccess-modal-container .register-form-container .registration-forms .register-next {
  align-self: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.registration-modal-container .register-form-container .registration-forms .course, .createAcct-modal-container .register-form-container .registration-forms .course, .registerSuccess-modal-container .register-form-container .registration-forms .course {
  width: 70%;
}

.registration-modal-container .register-form-container .registration-forms .course .course-select, .createAcct-modal-container .register-form-container .registration-forms .course .course-select, .registerSuccess-modal-container .register-form-container .registration-forms .course .course-select {
  padding: .3rem;
  font-size: .9rem;
  border: 2px solid #CECECE;
}

.registration-modal-container .register-form-container .registration-forms .batch, .createAcct-modal-container .register-form-container .registration-forms .batch, .registerSuccess-modal-container .register-form-container .registration-forms .batch {
  width: 28%;
}

.registration-modal-container .register-form-container .registration-forms .employ-info .form-groups .is-employed, .createAcct-modal-container .register-form-container .registration-forms .employ-info .form-groups .is-employed, .registerSuccess-modal-container .register-form-container .registration-forms .employ-info .form-groups .is-employed {
  display: flex;
  position: relative;
}

.registration-modal-container .register-form-container .registration-forms .employ-info .form-groups .is-employed .checkbox-lable, .createAcct-modal-container .register-form-container .registration-forms .employ-info .form-groups .is-employed .checkbox-lable, .registerSuccess-modal-container .register-form-container .registration-forms .employ-info .form-groups .is-employed .checkbox-lable {
  position: absolute;
  margin-left: 1.2rem;
  margin-top: -5px;
}

.registration-modal-container .register-form-container .registration-forms .company_name, .registration-modal-container .register-form-container .registration-forms .edit-company_name, .registration-modal-container .register-form-container .registration-forms .position, .registration-modal-container .register-form-container .registration-forms .edit-position, .createAcct-modal-container .register-form-container .registration-forms .company_name, .createAcct-modal-container .register-form-container .registration-forms .edit-company_name, .createAcct-modal-container .register-form-container .registration-forms .position, .createAcct-modal-container .register-form-container .registration-forms .edit-position, .registerSuccess-modal-container .register-form-container .registration-forms .company_name, .registerSuccess-modal-container .register-form-container .registration-forms .edit-company_name, .registerSuccess-modal-container .register-form-container .registration-forms .position, .registerSuccess-modal-container .register-form-container .registration-forms .edit-position {
  width: 100%;
}

.registration-modal-container .register-form-container .registration-forms .salary-range, .createAcct-modal-container .register-form-container .registration-forms .salary-range, .registerSuccess-modal-container .register-form-container .registration-forms .salary-range {
  width: 45%;
}

.registration-modal-container .register-form-container .registration-forms .salary-range-select, .createAcct-modal-container .register-form-container .registration-forms .salary-range-select, .registerSuccess-modal-container .register-form-container .registration-forms .salary-range-select {
  padding: .3rem;
  font-size: .9rem;
  border: 2px solid #CECECE;
}

.registration-modal-container .register-form-container .registration-forms .username, .registration-modal-container .register-form-container .registration-forms .password, .registration-modal-container .register-form-container .registration-forms .cpassword, .createAcct-modal-container .register-form-container .registration-forms .username, .createAcct-modal-container .register-form-container .registration-forms .password, .createAcct-modal-container .register-form-container .registration-forms .cpassword, .registerSuccess-modal-container .register-form-container .registration-forms .username, .registerSuccess-modal-container .register-form-container .registration-forms .password, .registerSuccess-modal-container .register-form-container .registration-forms .cpassword {
  width: 50%;
}

.registration-modal-container .register-form-container .registration-forms .register-btn, .createAcct-modal-container .register-form-container .registration-forms .register-btn, .registerSuccess-modal-container .register-form-container .registration-forms .register-btn {
  margin: 2rem 0;
  align-self: flex-end;
}

.registration-modal-container .register-form-container .registration-forms a, .createAcct-modal-container .register-form-container .registration-forms a, .registerSuccess-modal-container .register-form-container .registration-forms a {
  margin: 2rem 0;
  align-self: flex-end;
}

.message-modal-container {
  display: flex;
  padding: 2rem;
  margin-top: 9rem;
}

.message-modal-container .bc-img-container {
  width: 50%;
  height: 16rem;
  width: 30rem;
  border-radius: 50%;
  position: relative;
}

.message-modal-container .bc-img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.message-modal-container .congrats-message-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.message-modal-container .congrats-message-container .cm {
  font-size: 2rem 3rem;
  color: #337ED3;
  margin-bottom: 1.5rem;
}

.message-modal-container .congrats-message-container .wait-message {
  font-size: 1.1rem;
  font-weight: 400;
}

.message-modal-container .congrats-message-container a {
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: auto;
}

.login-modal-container {
  position: fixed;
  z-index: -10;
  opacity: 0;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100vw;
  height: 100vh;
}

.login-modal-container .login-container {
  padding: .5rem 1rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.3);
  width: 30vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-modal-container .login-container .login-head {
  padding: .5rem;
  border-bottom: 1px solid #337ED3;
  margin-bottom: 1rem;
}

.login-modal-container .login-container .login-head .logo-container {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.login-modal-container .login-container .login-head .logo-container img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-modal-container .login-container .login-head h3 {
  text-align: center;
  font-family: "Charis SIL", serif;
  line-height: 2;
}

.login-modal-container .login-container .login-head h4 {
  font-size: 1rem;
  color: #337ED3;
  text-align: center;
  font-weight: 400;
}

.login-modal-container .login-container .login-form {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

.login-modal-container .login-container .login-form .label-name {
  font-size: 1rem;
}

.login-modal-container .login-container .login-form .form-groups {
  margin-bottom: 1rem;
}

.login-modal-container .login-container .login-form .login-btn {
  margin: 1rem 0;
}

.login-modal-container .login-container .login-form span > a {
  color: #337ED3;
}

.login-modal-container .login-container .close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 0.5);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.login-modal-container .login-container .close-btn:hover {
  font-weight: bold;
  color: #3d3d3d;
}

login-modal-open {
  z-index: 10;
  opacity: 1;
}

.about-container {
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 1440px;
}

.about-container .core-values-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.about-container .core-values-container .logo-container {
  height: 25rem;
  width: 25.6rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.about-container .core-values-container .logo-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-container .core-values-container .core-values {
  text-align: left;
}

.about-container .core-values-container .core-values .core {
  font-size: 1.5rem;
  text-shadow: 3px 3px 10px #FFDD00;
  text-align: center;
  font-family: "Charis SIL", serif;
  color: #337ED3;
}

.about-container .core-values-container .core-values .access {
  font-size: 1.3rem;
  line-height: 2.5;
}

.about-container .core-values-container .core-values .access span {
  font-size: 1.5rem;
  text-shadow: 3px 3px 10px #FFDD00;
  text-align: center;
  font-family: "Charis SIL", serif;
  color: #337ED3;
  margin-right: 1rem;
}

.about-container .about-content {
  text-align: left;
  padding: 2rem;
}

.about-container .about-content .content {
  margin-bottom: 3rem;
}

.about-container .about-content .content .ct {
  font-size: 1.5rem;
  color: #3d3d3d;
  font-weight: bold;
}

.about-container .about-content .content .ct-desc {
  font-size: 1.3rem;
  line-height: 1.8;
}

.about-container .about-content .content:last-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid #337ED3;
  margin-bottom: 1rem;
}

.about-container .developers-container {
  text-align: left;
  padding: 0 2rem 2rem 2rem;
}

.about-container .developers-container .developers {
  border: 1px solid #337ED3;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.about-container .developers-container .ct {
  font-size: 1.5rem;
  color: #3d3d3d;
  font-weight: bold;
}

.about-container .developers-container .developer {
  background: linear-gradient(313deg, rgba(255, 221, 0, 0.700718) 0%, rgba(51, 126, 211, 0.9052) 100%);
  width: 21%;
  padding: 1.5rem .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.about-container .developers-container .img-container {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.about-container .developers-container .img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-container .developers-container .dev-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #337ED3;
}

.about-container .developers-container .dev-links {
  display: flex;
  gap: .8rem;
  margin-top: 1rem;
}

.about-container .developers-container .dev-links a {
  font-size: 1.5rem;
  color: #FFFFFF;
  transition: all 250ms ease-in-out;
}

.about-container .developers-container .dev-links a:hover {
  color: #337ED3;
  font-weight: bolder;
}

.gallery-container {
  max-width: 1440px;
  margin: 0 auto;
}

.gallery-container .gallery {
  position: relative;
  height: 35rem;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
}

.gallery-container .gallery .batch-year {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 3;
  padding: .5rem 1rem;
  border: 1px solid #337ED3;
  color: #337ED3;
  background-color: #FFDD00;
  font-weight: bold;
  font-size: 1.5rem;
}

.gallery-container .gallery .img-batch-container {
  position: absolute;
  inset: 0;
}

.gallery-container .gallery .img-batch-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.alumni-container {
  max-width: 1440px;
  margin: 0 auto;
}

.alumni-container .alumnae {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: space-between;
}

.alumni-container .alumnae .alumni {
  background-color: #FFFFFF;
  display: flex;
  width: 49%;
  min-height: 18rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.alumni-container .alumnae .alumni .photo-name-container {
  background-color: rgba(255, 221, 0, 0.5);
  padding: 1rem .5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.alumni-container .alumnae .alumni .photo-name-container .photo-container {
  height: 9rem;
  width: 9rem;
  position: relative;
}

.alumni-container .alumnae .alumni .photo-name-container .photo-container img {
  height: 100%;
  width: 100%;
  inset: 0;
  position: absolute;
}

.alumni-container .alumnae .alumni .photo-name-container .alumni-name {
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 3px solid #FFDD00;
}

.alumni-container .alumnae .alumni .basic-info-container {
  background-color: rgba(51, 126, 211, 0.7);
  width: 65%;
  padding: .5rem;
}

.alumni-container .alumnae .alumni .basic-info-container .basic-info-title {
  font-size: 1.4rem;
  color: #FFFFFF;
}

.alumni-container .alumnae .alumni .basic-info-container .alumni-info-container {
  border-top: 3px solid #FFDD00;
  color: #FFFFFF;
  padding-top: 1rem;
  margin-left: 1rem;
}

.user-sidebar {
  height: 100vh;
  width: 30vw;
  position: fixed;
  background-color: rgba(255, 221, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 9rem 1rem 5rem;
  align-items: center;
}

.user-sidebar .user-img-container {
  height: 17rem;
  width: 17rem;
  position: relative;
  margin-bottom: 2rem;
}

.user-sidebar .user-img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.user-sidebar .user-fullname {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #3d3d3d;
}

.user-sidebar a {
  align-self: stretch;
  padding: 0 4rem;
}

.user-sidebar .user-sidebar-btn {
  align-self: stretch;
  width: 100%;
  margin-bottom: .5rem;
}

.user-info-container {
  position: absolute;
  top: 5rem;
  left: 30vw;
  right: 0;
  background-color: rgba(51, 126, 211, 0.7);
}

.user-info-container .user-info {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #FFDD00;
}

.user-info-container .info-title {
  color: #FFFFFF;
  font-size: 2rem;
  font-family: "Charis SIL", serif;
  text-align: center;
}

.user-info-container .user-info-content {
  font-size: 1.2rem;
  margin: 2rem 0 2rem 4rem;
  color: #FFFFFF;
}

.user-info-container .user-info-content .infor {
  margin-bottom: 2rem;
  border-bottom: 1px solid #FFFFFF;
}

.user-info-container a {
  align-self: flex-end;
  margin-right: 4rem;
}

.view-event-container {
  background-color: #FFFFFF;
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

.view-event-container .img-title-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 3rem;
}

.view-event-container .img-title-container .event-img-container {
  width: 50%;
  height: 30rem;
  max-width: 40rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.view-event-container .img-title-container .event-img-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.view-event-container .img-title-container .view-event-title {
  width: 50%;
}

.view-event-container .img-title-container .view-event-title h2 {
  font-size: 2.3rem;
}

.view-event-container .img-title-container .view-event-title p {
  font-size: 1.2rem;
  color: #337ED3;
  font-weight: bold;
}

.view-event-container .view-event-desc {
  text-align: center;
}

.view-event-container .view-event-desc h3 {
  color: #3d3d3d;
  margin-bottom: 1.3rem;
}

.view-event-container .view-event-desc .event-desc-content {
  text-align: left;
  padding: 0 5rem;
  line-height: 1.5;
  font-size: 1rem;
  color: #3d3d3d;
}
/*# sourceMappingURL=style.css.map */